@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {

    --primary-color: #FFA62B;
    --secondary-color: #82C0CC;
    --accent1-color: #EDE7E3;
    --accent2-color: #16697A;

    --heading-font: 'Ubuntu', serif;
    --paragraph-font: 'Ubuntu', serif;

    --nav-background-color: #FFA62B;
    --nav-link-color: #EDE7E3;
    --nav-hover-link-color: #16697A;
}

* {
    margin: 0;
    padding: 0;

}

header {
    background-color: var(--primary-color);
}

header img {
    width: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
nav a{
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

nav a:hover {
    color: var(--secondary-color);
}

p {
    margin: 10px;
}

.hero {
 position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    color: var(--accent1-color);
    top: 30px;
    left: 500px;
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    top: 75px;
    padding: 15px;
    margin: 15px;
}

.hero article img {
    width: 200px;
    float: right;
}

section {
    font-family: var(--heading-font);
    margin: 35px 15px;
}

section h2 {
    color: var(--accent2-color);
}

footer {
    background-color: var(--nav-background-color);
    padding: 15px;
}
footer img {
    width: 50px;
}
